<!DOCTYPE html>
<html>
  <head>
    <title>Practise</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if account_signed_in? %>
		<%= link_to current_account.nickname, current_account %> <%= link_to "Sign Out", destroy_account_session_path, method: :delete %>
  	<% else %>
		<%= link_to "Sign In", new_account_session_path %>
  	<% end %>
    <%= yield %>
  </body>
</html>
