<%= form_for @account, html: { multipart: true } do |f| %>
	<p>
		<%= f.label :nickname %>
		<%= f.text_field :nickname %>
	</p>
	<p>
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</p>
	<p>
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	</p>
	<p>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :avatar %>
		<%= f.file_field :avatar, as: :file %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>