<h1>Profile</h1>
<%= image_tag @account.avatar.url(:thumb) %>
<ul class="inline">
	<li><%= link_to "Edit", edit_account_path(@account) %></li>
</ul>
<ul>
	<li><strong>Nickname:</strong> <%= @account.nickname %></li>
	<li><strong>First name:</strong> <%= @account.first_name %></li>
	<li><strong>Last name:</strong> <%= @account.last_name %></li>
	<li><strong>Email:</strong> <%= @account.email %></li>
</ul>
<%= @account.document.url %>
<%= form_for :account, url: doc_account_url(@account), method: :put, html: {multipart: true} do |f| %>
	<p>
		<%= f.label :document %>
		<%= f.file_field :document %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>
<h3>Your posts</h3>
<% @posts.each do |post| %>
<p><%= post.title %></p>
<% end %>
<%= paginate @posts %>